:root {
  --global-font-size: 15px;
  --global-max-width: 100%;
  --global-margin: auto 1rem;
  --global-font-family: "Open Sans", sans-serif;
  --nav-background-color: #2c3e50;
  --nav-font-color: #fff;
  --nav-item-active: #3498db;
  --featured-work-header-color: gray;
  --main-section-header-border-bottom: 2px solid #95a5a6;
  --footer-border-top: 2px solid #95a5a6;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* start sidebar styles */

.sidebar {
  transition: transform 0.3s ease;
  background-color: var(--nav-background-color);
  padding-right: 0;
}

.sidebar--inactive {
  position: absolute;
  /* TODO: add vendor  */
  transform: translate(-140%, 0);
}

.sidebar--active {
  /* TODO: add vendor prefix */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* bottom: 0; */
  transform: translate(0, 0);
}

.sidebar__list-item {
  background-color: var(--nav-background-color);
  color: var(--nav-font-color);
  padding: 1rem 0 1rem 0.5rem;
  border: none;
}

@media screen and (min-width: 1024px) {
  .sidebar__list-item {
    padding: 1.5rem 0 1.5rem 1rem;
  }
}

.sidebar__list-item--active {
  background-color: var(--nav-item-active);
}

@media screen and (min-width: 1024px) {
  .sidebar--inactive {
    position: sticky;
    top: 0;
    bottom: 0;
    transform: translate(0, 0);
  }
}

/* end sidebar styles */

/* start main-section styles */
.main-section {
  overflow-x: hidden;
}

.main-section__content-paragraph,
.main-section__content-list {
  margin: 0.5rem 1rem;
  line-height: 1.8;
}

.main-section__content-my-skills-list,
.main-section__content-my-experience-list,
.main-section__content-my-projects-list,
.main-section__content-my-education-list {
  list-style: none;
}

.main-section__content-my-skills-list li:before,
.main-section__content-my-experience-list li:before,
.main-section__content-my-projects-list li:before,
.main-section__content-my-education-list li:before {
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  font-family: FontAwesome;
}

.main-section__content-my-skills-list li:before {
  content: "\f164";
  /* FontAwesome Unicode */
}

.main-section__content-my-experience-list li:before {
  content: "\f0a4";
}

.main-section__content-my-projects-list li:before {
  content: "\f2b5";
}

.main-section__content-my-education-list > li:before {
  content: "\f19c";
}

/* end main-section styles */

/* start header styles */

header {
  border-bottom: var(--main-section-header-border-bottom);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.header__wrapper {
  text-align: right;
  padding-right: 1.5rem;
}

.header__profile-pic-wrapper{
  align-self: center;
}

.header__profile-pic-image {
  max-width: 100%;
}

.header__menu-icon {
  align-self: center;
  padding: 1rem 1rem 1rem 0;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

@media screen and (min-width: 1024px) {
  .header__menu-icon {
    display: none;
  }
}

.header__menu-icon {
  transform: rotate(0);
}

.header__menu-icon--active {
  transform: rotate(90deg);
}

/* end header styles */

/* start main-section content styles */

.main-section__content {
  /* margin-top: 1rem; */
  transition: transform 0.3s ease;
}

.main-section__content-banner-image {
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  .main-section__content-featured-work article {
    margin-bottom: 1.5rem;
  }
}
/* end main-section content styles */

/* start main section content article styles */

.main-section__content-article {
  transition: transform 0.3s ease;
}

.main-section__content-article--active {
  transform: translate(0, 0);
}

.main-section__content-article--inactive {
  position: absolute;
  transform: translate(200%, 0);
}

/* end main section content article styles */

/* start Footer styles */

footer {
  text-align: center;
}

.footer__paragraph {
  margin: 0.5rem 0;
  padding: 1rem 0;
  border-top: var(--footer-border-top);
}

/* end Footer styles */
