body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: #2d3c49;
}

/* start customize h2 */
h2 {
  color: #7d97ad;
}
/* end customize h2 */

/* start sidebar styles */
.sidebar {
  transition: all 0.4s ease;
  background-color: #2d3c49;
  padding: 0;
}

.sidebar--inactive {
  opacity: 0;
  -webkit-transform: translate(0, -200%);
  -moz-transform: translate(0, -200%);
  -ms-transform: translate(0, -200%);
  -o-transform: translate(0, -200%);
  transform: translate(0, -200%);
  position: absolute;
}

@media screen and (min-width: 640px) {
  .sidebar--inactive {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    opacity: 1;
  }
}

.sidebar--active {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  opacity: 1;
}

.sidebar__list-item {
  background-color: #2d3c49;
  color: #fff;
  padding: 1rem 0 1rem 0.5rem;
  border: none;
}

@media screen and (min-width: 1024px) {
  .sidebar__list-item {
    padding: 1.5rem 0 1.5rem 1rem;
  }
}

.sidebar__list-item--active {
  background-color: #02b3e4;
}
/* end sidebar styles */

/* start main-section styles */
.main-section {
  overflow-x: hidden;
}

.main-section__content-paragraph,
.main-section__content-list {
  margin: 0.5rem 1rem;
  line-height: 1.8;
}

.main-section__content-my-skills-list,
.main-section__content-my-experience-list,
.main-section__content-my-projects-list,
.main-section__content-my-education-list {
  list-style: none;
}

.main-section__content-my-skills-list li:before,
.main-section__content-my-experience-list li:before,
.main-section__content-my-projects-list li:before,
.main-section__content-my-education-list li:before {
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  font-family: FontAwesome;
}

.main-section__content-my-skills-list li:before {
  content: "\f164";
  /* FontAwesome Unicode */
}

.main-section__content-my-experience-list li:before {
  content: "\f0a4";
}

.main-section__content-my-projects-list li:before {
  content: "\f2b5";
}

.main-section__content-my-education-list > li:before {
  content: "\f19c";
}
/* end main-section styles */

/* start header styles */
header {
  border-bottom: 2px solid #95a5a6;
  padding-bottom: 0.5rem;
}

.header__wrapper {
  text-align: right;
  padding-right: 1.5rem;
  align-self: center;
}

.header__profile-pic-wrapper {
  align-self: center;
}

.header__profile-pic-image {
  max-width: 100%;
}

.header__menu-icon {
  align-self: center;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (min-width: 640px) {
  .header__menu-icon {
    display: none;
  }
}

.header__menu-icon:before {
  font-family: FontAwesome;
  content: "\f0c9";
}

.header__menu-icon--active:before {
  font-family: FontAwesome;
  content: "\f00d";
}
/* end header styles */

/* start main-section content styles */
.main-section__content {
  margin-top: 0.5rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-section__content-banner-image {
  max-width: 100%;
  display: block;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .main-section__content-featured-work article {
    margin-bottom: 1.5rem;
  }
}
/* end main-section content styles */

/* start main section content article styles */
.main-section__content-article {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-section__content-article--active {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.main-section__content-article--inactive {
  position: absolute;
  -webkit-transform: translate(200%, 0);
  -moz-transform: translate(200%, 0);
  -ms-transform: translate(200%, 0);
  -o-transform: translate(200%, 0);
  transform: translate(200%, 0);
}
/* end main section content article styles */

/* start Footer styles */
footer {
  text-align: center;
}

.footer__paragraph {
  margin: 0.5rem 0;
  padding: 1rem 0;
  border-top: 2px solid #95a5a6;
}
/* end Footer styles */
