:root {
  --global-font-size: 15px;
  --global-max-width: 100%;
  --global-margin: auto 1rem;
  --global-font-family: 'Open Sans', sans-serif;
  --nav-background-color: #2c3e50;
  --nav-font-color: #fff;
  --nav-item-active: #3498db;
  --featured-work-header-color: gray;
  --main-section-header-border-bottom: 2px solid #95a5a6
}


html, body, main {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  font-size: var(--global-font-size);
  font-family: var(--global-font-family);
  max-width: var(--global-max-width);
  /* margin: var(--global-margin); */
}

main {
  display: flex;
  margin: auto;
}

/* start sidebar styles */
.sidebar {
  height: 100%;
  width: 30%;
  transition: transform 0.3s ease;
  background-color: var(--nav-background-color);
  color: var(--nav-font-color);
}

.sidebar--inactive {
  position: absolute;
  /* TODO: add vendor  */
  transform: translate(-140%, 0);
}

.sidebar--active {
  position: relative;
  transform: translate(0, 0);
}
.sidebar__list {
  list-style: none;
  padding: 0;
}

.sidebar__list-item {
  padding: 1rem 0 1rem 0.5rem;
}
.sidebar__list-item--active {
  background-color: var(--nav-item-active);
}
/* end sidebar styles */

/* start main-section styles */
.main-section {
  margin: 0 0.5rem;
}
.main-section--with-nav {
  width: 70%;
}
.main-section__content-paragraph {
  margin: auto 1rem;
  line-height: 1.8;
}
/* end main-section styles */


/* start main-section header styles */
.main-section__header {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--main-section-header-border-bottom);
}

.main-section__sidebar-menu-icon {
  align-self: center;
  padding: 1rem 1rem 1rem 0;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}
.main-section__sidebar-menu-icon {
  transform: rotate(0);
}
.main-section__sidebar-menu-icon--active {
  transform: rotate(90deg);
}
/* end main-section header styles */

/* start main-section content styles */
.main-section__content {
  margin-top: 1rem;
  transition: transform 0.3s ease;
}

.main-section__content-banner-image {
  max-width: 100%;
}
/* end main-section content styles */

/* start main section content article styles */
.main-section__content-article {
  transition: transform 0.3s ease;
}

.main-section__content-article--active {
  transform: translate(0, 0);
  position: relative;
}

.main-section__content-article--inactive {
  /* TODO: add vendor prefix */
  position: absolute;
  transform: translate(150%, 0);
}
/* end main section content article styles */


/* start featured-work styles */
.featured-work__header h2 {
  color: var(--featured-work-header-color);
}

.featured-work__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* end featured-work styles */


/* start Footer styles */
footer {
  text-align: center;
}
/* end Footer styles */